.copy-to-clipboard-button {
    float: right;
    background: none;
    opacity: 0;
    left: 2.2em;
    transition: 0.4s;
    margin-top: 10px;
}

.tab-item:hover .copy-to-clipboard-button {
    opacity: 1;
}

.copy-to-clipboard > .copy-to-clipboard-code {
    margin: 0;
    padding: 0;
    word-break: break-word;
    white-space: break-spaces;
    color: rgb(216, 222, 233);
}

.tab-nav {
    float: right;
    right: 3em;
    position: relative;
    opacity: 0;
    transition: 0.4s;
}

.tab-panel:hover .tab-nav {
    opacity: 1;
}

.tab-nav-button {
    border-color: #849193;
    color: #d2e6e9;
    bottom: -1px;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
    display: block;
    float: left;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.42857143;
    padding: 6px 12px;
    position: relative;
    margin: 0;
    transition: 0.4s;
      /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  background: none;
}

.tab-nav-button:not(.active) {
    margin-top: 8px;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
}
.tab-nav-button:not(.active) span {
    opacity: .8;
}
.tab-panel {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.tab-content {
    background-color: transparent;
    border-color: rgba( 134, 134, 134, .333 );
    border-style: solid;
    border-width: 1px;
    clear: both;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
    display: block;
    padding: 8px;
    z-index: 10;
}
.tab-content .tab-item{
    display: none;
}

.tab-content .tab-item.active{
    display: block;
}
.tab-nav-button.active {
    border-bottom: 0;
}
.tab-item pre{
    margin-bottom: 0;
    margin-top: 0;
}
.tab-item > .expand {
    margin-top: 1.2rem;
}

pre > .copy-to-clipboard-button {
    display: none;
}

.tab-nav > .copy-to-clipboard-button {
    background-color: #ffffff;
    border-color: rgba( 134, 134, 134, .333 );
    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 1px;
    bottom: -1px;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: block;
    float: left;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.42857143;
    margin-left: 4px;
    padding: 6px 12px;
    position: relative;
    margin: 0;
    float: right;
}